.App{
  display: grid;
  grid-template-areas: "header" "main" "footer";
  grid-template-rows: 4rem 1fr 4rem;
  grid-template-columns: 1fr;
  height: 100vh;

}
header{
  grid-area: header;
  background-color: rgb(29, 18, 18);
  color: white;
  display: flex;
  align-items: center;
}
header a{
  color: white;
  text-decoration: none;
  margin-left: 20px;
}
main{
  grid-area: main;
  display: flex;
}
main>.cart{
flex:3;
}
main>.shopping{
flex: 1;
}


footer{
  grid-area: footer;
background-color: rgb(29, 18, 18);
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}